@font-face {
  font-family: "Kanit";
  src: url(./font/Kanit-Regular.ttf);
}

:root{
  --google-btn: #E6E6E6;
  --white: #FFFFFF;
  --black: #000000;
  --btn: #A221FA;
  --txt-hover: #AC2BD3;
  --grey-txt: #7d7d7d;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(90deg, rgba(231,0,255,1) 0%, rgba(153,0,255,1) 100%);
  display: grid;
  place-items: center;
  margin: 9rem auto;
  font-family: "Kanit", sans-serif;
}

.login-container{
  background-color: var(--white);
  border-radius: 25px;
  height: 25rem;
  width: 22rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#site-logo{
  height: 90px;
  width: 90px;
}
.welcome{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}
.welcome h1{
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.welcome p{
  font-size: 0.8rem;
  line-height: 10px;
}

form{
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
  width: 100%;
}
input{
  border: none;
  outline: none;
  width: 100%;
}
.email-container,
.password-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 2px solid var(--black);
}

.password-container{
  margin: 0.7rem 0 2.5rem 0;
}
.email-container svg,
.password-container svg{
  padding-bottom: 2px;
}
.input-label{
  position: absolute;
  color: var(--black);
  font-size: 0.8rem;
  user-select: none;
}
#email:focus ~.input-label,
#password:focus ~.input-label{
  top: -1rem;
  position: absolute;
  color: var(--txt-hover);
  display: block;
}
#email:focus~svg,
#password:focus~svg{
  fill: var(--txt-hover);
}
#email:focus~.email-container{
  border-bottom-color: var(--txt-hover);
}

button{
  width: 100%;
  border-radius: 50px;
  border: none;
  height: 1.8rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
}
button svg{
  margin-right: 5px;
  width: 1rem;
  height: 1rem;
}
#login-btn{
  background-color: var(--btn);
  color: var(--white);
}
#google-btn{
  background-color: var(--google-btn);
  color: var(--black);
}

span{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: var(--grey-txt);
}
span a{
  margin-left: 5px;
  text-decoration: none;
  color: var(--black);
}
a:hover{
  text-decoration: underline;
}

/* JS */

/* .clicked{
  fill: var(--txt-hover);
  color: var(--txt-hover);
}
 */
/* .email-container::after .clicked,
.password-container::after .clicked{
  background-color: var(--txt-hover);
}

.email-container svg .clicked,
.password-container svg .clicked{
  fill: var(--txt-hover);
}
#email-txt .clicked{
  color: var(--txt-hover);
} */